html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  resize: both;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */
.header-section {
  background-image: url("https://images.unsplash.com/photo-1510851896000-498520af2236?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header-section nav {
  background: transparent !important;
  width: 100%;
  z-index: 999;
}

.navbar-toggler {
  border: none;
  background-color: white !important;
  color: white !important;
}

.header-section nav a {
  color: #fff !important;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 400;
  color: #fff !important;
  border: 1px solid #fff;
  padding: 10px;
}

.header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.header__title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  border: 3px solid #eb446e;
}

#about-container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 20px;
  text-align: left;
}

.about__container p {
  margin: 20px 0;
  font-weight: 100;
  font-size: medium;
}

.header__subtitle {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
}

#about-text-1 {
  font-size: 20px;
  font-weight: 500 !important;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  padding: 15px 0;
}

.about__container button {
  background-color: #eb446e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

#about-btn {
  margin-top: 20px;
  background-color: #eb446e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

#about-btn:hover {
  background-color: #fff;
  color: #eb446e;
  border: 2px solid #eb446e;
}

.about__container h2,
.project__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  border-left: 3px solid #eb446e;
  padding: 0 0 0 10px;
}

.project__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  border-left: 3px solid #eb446e;
  padding: 0 0 0 10px;
}

.skills__container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  border: 1px solid black;
}

.skills__box {
  display: flex;
}

.skills__box li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #1a1918;
  cursor: pointer;
}

/* projects section */
.project {
  background-color: #1a1918;
  padding: 50px 0;
}

.project__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.project__card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: 0.3s;
}

.project__card:hover {
  transform: translateY(-10px);
}

.project__title {
  font-size: 40px;
  font-weight: 500;
  color: white;
  padding: 10px;
  text-align: left;
}

.project__text {
  width: 350px;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  color: white;
  padding: 0 10px;
  text-align: left;
}

.project__card--img img {
  max-width: 100%;
  max-height: 100%;
}

.project__card--content {
  padding: 20px;
}

.project__card--title {
  font-size: 20px;
  font-weight: 500;
  color: #1a1918;
  text-align: left;
}

.project__card--text {
  height: 70px;
  text-align: left;
  font-size: 14px;
  font-weight: lighter;
}

.project__card--btn {
  justify-content: space-between;
  display: flex;
}

.project__card--btn a {
  background-color: #eb446e;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
}

.project__card--btn a:hover {
  background-color: #fff;
  color: #eb446e;
  border: 2px solid #eb446e;
}

/* contact section */
.contact {
  background-color: #fff;
  padding: 50px 20px;
  color: #1a1918;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.contact__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  border-left: 3px solid #eb446e;
  padding: 0 0 0 10px;
}

.contact__container{
  padding: 30px 0;
}

.contact__text{
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
  width: 60%;
}

.contact__info a{
  font-size: 20px;
  font-weight: lighter;
  color: #1a1918;
  padding: 10px;
}

.contact__info a:hover{
  color: #eb446e;
}

/* footer section */

.footer {
  background-color: #1a1918;
  color: grey;
  padding: 10px 0;
  text-align: center;
}

/* media queries */

@media screen and (max-width: 425px) {
  .header{
    padding: 20px;
    height: 80vh;
  }




  .contact__text{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    width: 100%;
  }

  .about__text{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    width: 100%;
  }

  .project__card--text{
    
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
  }
}
